

.MainPage{
    color: white;
    height: 70vh;
    padding-right: 2vh;    
    /* border: rgb(255, 45, 45) solid; */
    margin-top: -18vh;
}

.MainPage p{
    padding-left: 38vw;
    font-size: 6vw;
    margin: 0vh;
    font-family: michromaregular;
    padding-right: 2vw;
}


.blurb{
    font-family: michromaregular;
    font-size: 2vw !important;
}


