.contactContainer{
    
    Height: 75vh;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.8);
    color:white;
    text-align: center;
    font-size: 14vh;
    
}

ul {
    margin-top: -7vw;
    margin-bottom: 0vw;
    list-style-type: none;
    font-family: michromaregular;
}

@media screen and (max-width: 428px) {
    .contactContainer {font-size: 15vw;
    margin-top: 0vh;}
}