.contactContainer{
    display: flexbox;
    Height: 85vh;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.8);
    margin: 3vw;
    color:white;
    flex-direction: column;
    justify-content: center;
    border: grooved red;
    text-align: center;
    font-size: 15vh;
    
}

ul {
    list-style-type: none;
    font-family: michromaregular;
}