.contactContainer{
    display: flexbox;
    Height: 85vh;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.8);
    margin: 3vw;
    color:white;
    flex-direction: column;
    justify-content: center;
    border: grooved red;
    text-align: center;
    font-size: 15vh;
    margin-top: -27vh;
}

ul {
    list-style-type: none;
    font-family: michromaregular;
}

@media screen and (max-width: 428px) {
    .contactContainer {font-size: 15vw;
    margin-top: 0vh;}
}